@charset "UTF-8";

table{
	
	width: 1000px;
 	border-spacing: 5px;
 
 	
 	
 	}
 	
 	.title
	{	
	font-size: 15px;
	position:relative;
	top:-10px;
	left:-20px;
	}
 	
 	.table{
 	
 	margin-left: auto;
 	margin-right: auto;
 	}
 	
 	.table-header{
 	
 	height:30px;
 	text-align: center;
 	position: relative;
 	top:5px;
 	cursor:poinetr;
 
 	}
 	.table-contain{
 	
 	height:100px;
 	width: 720px;
 	
 	
 	
 	}
 
	tr{
 
 	text-align: center;
 
 
 	}
 
	table, th, td{
 	border: 1px solid #000;
 	border-collapse: collapse;
 	
 	
 	}
 
 	

 	tr:nth-child(even){
 
 	background-color: #f2f2f2;
 	
 
 
 	}
 
 	tr:nth-child(odd){
 
 	background-color: #e6f2ff;
 	
 	
 	}
 	
 	
 
 	.tableview a
    {
    border:0;
	background:#AFEEEE;
	display: black;
	text-align: center;
	border: 1px solid black;
	padding: 3px 8px;
	outline: none;
	color: black;
	border-radius: 8px;
	transition: 0.25s;
	cursor: pointer;
	
	
   }
   
   
   
   .tableview a:hover
	{
		background: #79d279;
    }
    
    .submit-btn{
	width: 10%;
	padding: 10px 30px;
	cursor: pointer;
	margin-left: auto;
 	margin-right: auto;
	display: block;
	background: linear-gradient(to right, #008060, #00b386);

	border: 0;
	outline: none;
	border-radius: 30px; 
	top:100px;	
	
	
    }
    
    .table-info{
    
    
 	position: absolute;
 	bottom:97px;
 	left:220px;
 	
 	
 	}
 	
 	
 	 .sort{
	width: 13%;
	height:27px;
	
	cursor: pointer;
	display: block;
	background: #00b386;
	border: 0;
	outline: none;
	border-radius: 30px;
	position:relative;
	top:-10px;
	left:550px;
	
	
	
    }
    
    
 	 .go{
	width: 3%;
	height:27px;
	cursor: pointer;
	display: block;
	background: #00b386;
	border: 0;
	outline: none;
	border-radius: 30px; 
	position:relative;
	top:-37px;	
	left:740px;
	
	
    }
    
    
    
    
  
    
    
    
    
    
    
    