@charset "UTF-8";

.form-box{
	
	width: 900px;
	height: 350px;
	position: relative;
	top:50px;
	left:250px;
	background: #e6f2ff;
	padding: 4px; 
	border-radius: 30px;
	
	
	}
	
	
	
	
	.discount{
	
	color:#000099;
    width:700px;
	position:relative; 
	left:380px;   
	top:-20px;  
	font-family:Courier New';


	}
	
	h2{
	
	font-size:25px;
	
	}
	
	
	.fare{
	
	width: 700px;
	height: 100px;
	position: relative;
	top:0px;
	left:350px;
	background: #e6f2ff;
	padding: 4px; 
	border-radius: 30px;
	
	
	}
	
	table{
	
	width: 500px;
 	border-spacing: 5px;

 	}
 	
 	.table{
 	
 	margin-left: auto;
 	margin-right: auto;
 	position: relative;
 	top: 130px;
 	}
 	
 	
 	tr{
 
 	text-align: center;
 
 
 	}
 
	table, th, td{
 	border: 1px solid #000;
 	border-collapse: collapse;
 	
 	
 	}
 
 	

 	tr:nth-child(even){
 
 	background-color: #f2f2f2;
 	
 
 
 	}
 
 	tr:nth-child(odd){
 
 	background-color: #e6f2ff;
 	
 	
 	}
 	
 	.discount-price{
    
    color:Black; 
    position:relative; 
    left:552px; 
    top:128px; 
    font-family: 'Lucida Console';
   	font-size:8px;
    
 	}
	
	
	.choose-ticket{
	
	color:#000099;
    width:700px;
	position:relative; 
	left:155px;   
	top:-15px;  
	font-family:'Courier New';
	
	}
	
	h4{
	
	font-size:18px;
	
	}
	
	
	.fare-details{
	width: 10%;
	padding: 5px 5px;
	position:relative;
	left:180px;
	top:-10px;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	border-top: 0;
	outline: none;
	background: #d3dcf8;
	border-radius: 24px;	
	
    }
    
    .form-box{
	
	width: 900px;
	height: 350px;
	position: relative;
	top:50px;
	left:250px;
	background: #e6f2ff;
	padding: 4px; 
	border-radius: 30px;
	opacity:0.9;
	
	
	}
	
	
	
	
	.discount{
	
	color:#000099;
    width:700px;
	position:relative; 
	left:380px;   
	top:-20px;  
	font-family:Courier New';


	}
	
	h2{
	
	font-size:25px;
	
	}
	
	
	.fare{
	
	width: 700px;
	height: 100px;
	position: relative;
	top:0px;
	left:350px;
	background: #e6f2ff;
	padding: 4px; 
	border-radius: 30px;
	
	
	}
	
	table{
	
	width: 500px;
 	border-spacing: 5px;

 	}
 	
 	.table{
 	
 	margin-left: auto;
 	margin-right: auto;
 	position: relative;
 	top: 130px;
 	}
 	
 	
 	tr{
 
 	text-align: center;
 
 
 	}
 
	table, th, td{
 	border: 1px solid #000;
 	border-collapse: collapse;
 	
 	
 	}
 
 	

 	tr:nth-child(even){
 
 	background-color: #f2f2f2;
 	
 
 
 	}
 
 	tr:nth-child(odd){
 
 	background-color: #e6f2ff;
 	
 	
 	}
 	
 	.discount-price{
    
    color:Black; 
    position:relative; 
    left:552px; 
    top:128px; 
    font-family: 'Lucida Console';
   	font-size:8px;
    
 	}
	
	
	.choose-ticket{
	
	color:#000099;
    width:700px;
	position:relative; 
	left:155px;   
	top:-15px;  
	font-family:'Courier New';
	
	}
	
	h4{
	
	font-size:18px;
	
	}
	
	
	.fare-details{
	width: 10%;
	padding: 5px 5px;
	position:relative;
	left:180px;
	top:-10px;
	border-left: 0;
	border-right:0;
	border-bottom:0;
	border-top: 0;
	outline: none;
	background: #d3dcf8;
	border-radius: 24px;	
	
    }
    
   .submit-btn{
	width: 120px;
	height: 30px;
	cursor: pointer;
	display: block;
	position:fixed;
	top: 540px;
	left:570px;
	background: #00b386;
	border: 0;
	outline: none;
	border-radius: 30px; 
	
	
	
}


.submit-btn1{
	width: 120px;
	height: 30px;
	cursor: pointer;
	display: block;
	position:fixed;
	top: 540px;
	left:750px;
	background: #00b386;

	border: 0;
	outline: none;
	border-radius: 30px; 
	
	
	
}

.reservation{
	
	color:#1a1aff;  
	position:relative; 
	left:607px; 
	top:-320px; 
	font-family: 'Lucida Console'; 
	font-size: 11px;
	
	
	}
	
	.thankyou
	{	
	font-size: 15px;
	position:relative;
	top:28px;
	}
	
    
   
    
   